{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title boxed-green"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title boxed-green">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% include post/categories.html %}
        {% include post/tags.html %}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
		<i class="glyphicon glyphicon-comment"></i><a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
             data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if page.image or post.image %}
<img src="{%if post.image %}{{ post.image }}{% else %}{{ page.image }}{% endif %}" alt="article image" class="main image"/>
{% endif %}
{% if index %}
<div class="entry-content">{{ post.excerpt }}</div>
  {% capture excerpted %}{{ post.excerpt }}{% endcapture %}
  {% if excerpted %}
    <footer>
	<a rel="full-article" href="{{ root_url }}{{ post.url }}" class="btn btn-icon-left"><span>{{ site.excerpt_link }}</span></a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
