<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/png" href="{{ site.logo }}">
  <link rel="apple-touch-icon" href="{{ site.logo }}">
  {% seo %}
  {% feed_meta %}
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <noscript>
  <link rel="stylesheet" href="/assets/stylesheets/noscript.css">
  </noscript>
  <script defer src="/assets/javascript/tocbot.min.js"></script>
  <script defer src="/assets/javascript/main.js"></script>
</head>
