<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/x-icon" href="">
  <link rel="apple-touch-icon" href="">
  {% seo %}
  {% feed_meta %}
{% assign asset_files = site.static_files | where: "assets", true | sort: 'index' %}
{% for file in asset_files %}
{% if file.extname == '.css' %}
  {% if file.basename == 'noscript' %}
  <noscript>
  <link rel="stylesheet" href="{{ file.path | relative_url }}">
  </noscript>
  {% else %}
  <link rel="stylesheet" href="{{ file.path | relative_url }}">
  {% endif %}
{% elsif file.extname == '.js' %}
  <script defer src="{{ file.path | relative_url }}"></script>
{% endif %}
{% endfor %}
</head>
