<ul class="dropdown clearfix boxed boxed-blue">
  {% include custom/navigation.html %}
  <li class="menu-level-0">
    <a>Subscribe</a>
	<ul class="submenu-1">
  <li class="menu-level-1"><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  <li class="menu-level-1"><a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fmzyy94.com%2Fblog%2Fatom.xml" rel="subscribe-feedly" title="subscribe on Feedly">Feedly</a></li>
  {% if site.subscribe_email %}
    <li class="menu-level-1"><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
  </ul>
  {% if site.simple_search %}
  <li class="menu-search last">
{% include custom/search.html %}
  </li>
  {% endif %}
</ul>
