{% assign link_post = site.posts | where: "slug", include.slug | first %}
{% if link_post %}
<div class="include-card">
  <section>
    <header>
      <a href="{{ link_post.url }}"><img src="/assets/icons/favicon-32x32.png" class="favicon" /><h1>{{ link_post.title }} | {{ site.title }}</h1></a>
    </header>
    <article>
      <p>{{ link_post.excerpt | strip_html | normalize_whitespace | truncate: 200 }}</p>
    </article>
    <footer>
      <time datetime="{{ link_post.date }}">{{ link_post.date | date_to_string: "ordinal", "JP" }}</time>
    </footer>
  </section>
  {% if link_post.image and link_post.image.thumbnail %}
  <section>
    <a class="link-thumb" href="{{ link_post.url }}"><img class="link-thumb" src="{{ link_post.image.thumbnail }}" /></a>
  </section>
  {% endif %}
</div>
<style>
  .include-card{border:1px solid #ddd;border-radius:4px;padding:1em;display:flex;width:100%;max-width:800px;margin:10px 0}.include-card a{text-decoration:none}.include-card header img{display:inline;width:1rem;height:1rem;margin:.2rem}.include-card header h1{display:inline;font-size:1.2rem;margin:0}.include-card article p{color:#333;font-size:.8rem;margin-bottom:.5rem;text-overflow:ellipsis;overflow:hidden;max-height:6rem;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4;overflow:hidden}.include-card footer{font-size:.8rem;color:#666}.include-card .link-thumb{width:150px;height:150px;display:block;object-fit:cover}%
</style>
{% else %}
<p>No page found '{{ include.slug }}'</p>
{% endif %}