{% assign chars_per_minute = page.chars_per_minute | default: site.chars_per_minute | default: 600 %}
{%- assign min_read = site.data.text[site.locale].min_read | default: 'min read' -%}

{% if entry %}
  {% assign chars = entry.content | strip_html | size %}
{% else %}
  {% assign chars = page.content | strip_html | size %}
{% endif %}

<span class="read-time">
  {%- if chars < chars_per_minute -%}
    ~1 {{ min_read }}
  {%- else -%}
    {{ chars | divided_by:chars_per_minute }} {{ min_read }}
  {%- endif -%}
</span>
