<!--Fonts from Google"s Web font directory at https://google.com/webfonts -->
{% if site.twitter_user %}
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="{{ site.twitter_user }}" />
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if page.topimg or post.topimg %}
<meta property="twitter:image" content="{{site.url}}{%if post.topimg %}{{ post.topimg }}{% else %}{{ page.topimg }}{% endif %}" />
{% endif %}
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
{% endif %}
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
