blockquote.twitter-tweet {
  border-color: #1DA1F2;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    right: 1em;
    top: 1em;
    background: url(/assets/icons/twitter-logo-blue.png) no-repeat;
    background-size: contain;
    position: absolute;
  }
}
