---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

main {
    max-width: 100%;
    overflow-x: hidden;
}

table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

body * {
    max-width: 100%;
    word-wrap: break-word;
}

.entry-feature-image {
    object-fit: cover;
    max-height: 400px;
}

.include-card {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 10px 0px;
    a {
        text-decoration: none;
    }
    header {
        img {
            display: inline;
            width: 1rem;
            height: 1rem;
            margin: 0.2rem;
        }
        h1 {
            display: inline;
            font-size: 1.2rem;
            margin: 0;
        }
    }
    article {
        p {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 6rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }
    footer {
        font-size: 0.8rem;
        color: #666666;
    }
    .link-thumb {
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
    }
}

.toggle {
    --color: #4bd3d8;
    --size: 1rem;
    position: relative;
    width: calc(var(--size) * 1.8);
    height: var(--size);
    display: inline-block;
    vertical-align: text-bottom;

    input {
        display: none;
    }

    label {
        position: relative;
        width: inherit;
        height: inherit;
        background: #ccc;
        display: inline-block;
        border-radius: var(--size);
        transition: 0.2s;
        box-sizing: border-box;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
            left: 0;
            top: 0;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            transition: 0.2s;
        }
    }

    input:checked {
        + label {
            background: var(--color);
        }
        + label:after {
            left: calc(var(--size) * 0.8);
        }
    }
}

.solid-button {
    &,
    &:visited {
        display: inline-block;
        width: 200px;
        height: 54px;
        text-align: center;
        text-decoration: none;
        outline: none;
        margin: 20px;
        position: relative;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.7);
        border: 2px solid #333;
        color: #fff;
        line-height: 50px;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: "";
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        transition: all 0.3s;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        border-color: #59b1eb;
        color: #59b1eb;
        &::before,
        &::after {
            height: 0;
            background-color: #59b1eb;
        }
    }
}
