---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

body * {
    max-width: 100%;
    word-wrap: break-word;
}

.entry-feature-image {
    object-fit: cover;
    max-height: 400px;
}

.include-card {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 10px 0px;
    a {
        text-decoration: none;
    }
    header {
        img {
            display: inline;
            width: 1rem;
            height: 1rem;
            margin: 0.2rem;
        }
        h1 {
            display: inline;
            font-size: 1.2rem;
            margin: 0;
        }
    }
    article {
        p {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 6rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }
    footer {
        font-size: 0.8rem;
        color: #666666;
    }
    .link-thumb {
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
    }
}

.toggle {
    --color: #4bd3d8;
    --size: 1rem;
    position: relative;
    width: calc(var(--size) * 1.8);
    height: var(--size);
    display: inline-block;
    vertical-align: text-bottom;

    input {
        display: none;
    }

    label {
        position: relative;
        width: inherit;
        height: inherit;
        background: #ccc;
        display: inline-block;
        border-radius: var(--size);
        transition: 0.2s;
        box-sizing: border-box;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
            left: 0;
            top: 0;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            transition: 0.2s;
        }
    }

    input:checked {
        + label {
            background: var(--color);
        }
        + label:after {
            left: calc(var(--size) * 0.8);
        }
    }
}
