---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

body * {
    max-width: 100%;
    word-wrap: break-word;
}

.entry-feature-image {
    object-fit: cover;
    max-height: 400px;
}

.include-card {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 10px 0px;
    a {
        text-decoration: none;
    }
    header {
        img {
            display: inline;
            width: 1rem;
            height: 1rem;
            margin: 0.2rem;
        }
        h1 {
            display: inline;
            font-size: 1.2rem;
            margin: 0;
        }
    }
    article {
        p {
            color: #333333;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 6rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }
    footer {
        font-size: 0.8rem;
        color: #666666;
    }
    .link-thumb {
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
    }
}