html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
	linear-gradient(90deg, hsl(0,0%,22%)  0%,
	hsl(0,0%,10%) 47%,
	hsl(0,0%,22%) 63%,
	hsl(0,0%,30%)100%);
	background-size: 100% 200px;
}

footer {
	display: none;
}

header {
	display: block;
	width: 360px;
	height: 6px;
	margin: auto;
	margin-top: 5rem;
	border-radius: 6px;
	box-shadow: inset hsla(0,0%,0%,1) 0  2px 1px 1px,
	inset hsla(0,0%,0%,.9) 0  4px 10px 0px;
}

header output {
	display: block;
}

section {
	padding: 1rem 0;
	margin: 1rem auto;
	width: 360px;
	text-align: center;
	background-color: #ddd;
	background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
	linear-gradient(90deg, hsl(0,0%,78%)  0%,
	hsl(0,0%,90%) 27%,
	hsl(0,0%,78%) 53%,
	hsl(0,0%,70%)100%);
	box-shadow: inset hsla(0,0%, 0%,.15) 0 -2px 4px 8px;
}

section form {
	position: relative;
	padding: 20px;
	width: 200px;
	margin: 2rem auto;
	background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
	linear-gradient(90deg, hsl(0,0%,78%)  0%,
	hsl(0,0%,90%) 27%,
	hsl(0,0%,78%) 53%,
	hsl(0,0%,70%)100%);
	box-shadow: inset hsla(0,0%, 0%,.35) -1px -2px 1px 0px,
	hsla(0,0%, 0%,.35) -1px -1px 1px 0px;
}

section form:before, section form:after {
	font-family: 'Revalia';
	content: '+';
	position: absolute;
	display: block;
	background-color: #fff;
	font-size: 1.2rem;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	border-radius: 1rem;
	font-weight: bold;
	color: #444;
	text-shadow: 1px -1px 1px rgba(0,0,0,0.3);
	box-shadow: hsla(0,0%, 0%,.15) 1px 1px 0px 0px,
	inset hsla(0,0%, 0%,.25) 2px -1px 1px 4px;
}

section form:before {
	-webkit-transform: rotate(60deg);
	top: 5px;
	left: 5px;
}

section form:after {
	-webkit-transform: rotate(30deg);
	bottom: 5px;
	right: 5px;
}

form input:not([type="submit"]) {
	font-family: 'Revalia';
	display: inline-block;
	text-align: center;
	width: 1em;
	line-height: 2.2rem;
	font-size: 2.2rem;
	padding: 0;
	margin: 0 0.1rem;
	border: solid 1px rgba(0,0,0,0.3);
	color: rgba(0,0,0,0);
	background-color:rgb(217, 142, 0);
	box-shadow: inset hsla(0,0%, 0%,.25) -1px -1px 6px 0px;
}

form input.hasValue {
	color: hsla(135, 100%, 50%, 0.4);
	text-shadow: 1px -1px 6px hsl(125, 100%, 50%);
}

form input[type="submit"] {
	display: none;
}

form input:invalid {
	outline-offset: -2px;
	outline: hsl(10, 100%, 40%) auto 5px;	
}

form input.invalid {
	outline-offset: -2px;
	outline: hsl(10, 100%, 40%) auto 5px;
	animation: error 0.4s linear 0s infinite normal;
	-webkit-animation: error 0.4s linear 0s infinite normal;
}

@keyframes error {
	0% {outline: hsl(10, 100%, 40%) auto 5px;}
	50% {outline: hsl(10, 100%, 40%) auto 5px;}
	51% {outline: none;}
	100% {outline: none;}
}

@-webkit-keyframes error {
	0% {outline: hsl(10, 100%, 40%) auto 5px;}
	50% {outline: hsl(10, 100%, 40%) auto 5px;}
	51% {outline: none;}
	100% {outline: none;}
}

ol {
	list-style-type: none;
	display: block;
	margin: 1rem auto;
	width: 240px;
	padding: 0;
	font-size: 0;
	box-shadow: hsla(0,0%, 0%,.15) 0 -2px 4px 6px;
}

ol li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

ol li:nth-child(3n):after {
	content: "\A";
	font-size: 0;
	white-space: pre;
}

ol li button {
	font-family: 'Revalia';
	display: inline-block;
	font-size: 2rem;
	line-height: 3rem;
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

*:focus {
	outline-offset: 0;
	outline: none;
}

input:not([type="submit"]).active {
	outline-offset: -2px;
	outline: hsl(210, 100%, 40%) auto 5px;
}

button { border: none; display: block; }

.keypad {
	position: relative;
	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px,
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px,
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px,
	hsla(0,0%,100%,.5) 0  5px 6px 4px;
	transition: color .2s, box-shadow .2s;
	width: 80px;
	font-size: 2rem;
	height: 80px;
	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
	linear-gradient(180deg, hsl(0,0%,78%)  0%,
	hsl(0,0%,90%) 47%,
	hsl(0,0%,78%) 53%,
	hsl(0,0%,70%)100%);
}

.keypad:active, .keypad.active {
	color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
	box-shadow: inset hsla(210,100%,30%,  1) 0  0px 0px 4px,
	inset hsla(210,100%,15%, .4) 0 -1px 5px 4px,
	inset hsla(210,100%,20%,.25) 0 -1px 0px 7px,
	inset hsla(210,100%,100%,.7) 0  2px 1px 7px,
	hsla(210,100%,75%, .8) 0  0px 3px 2px,
	hsla(210,50%,40%, .25) 0 -5px 6px 4px,
	hsla(210,80%,95%,   1) 0  5px 6px 4px;
}

::selection {
	background-color: rgba(0,0,0,0);
}

::-webkit-input-placeholder {
	color: hsla(135, 100%, 50%, 0.4);
	text-shadow: 1px -1px 6px hsl(125, 100%, 50%);
}