---
---

@import "spectre";
@import "spectre-exp";
@import "spectre-icons";

html, body {
  height: 100%;
}

article img, article svg {
  max-width: 100%;
}

pre, pre code, pre code * {
  font-family: "Lucida Console", Monaco, monospace !important;
}

.calendar {
  min-width: auto;
}

.sticky-top-10 {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.card-image img {
  width: 100%;
}

.card-body {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  ol li, ul li {
    margin-top: 0;
  }

  p {
    line-height: normal;
  }
}

.flex.empty {
  height: 80%;
}

[id^=___plusone] {
  width:65px !important;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.pocket-btn {
  display: inline-block;
}

@media screen and (max-width: 840px) {
  .tooltip::after {
    display: none !important;
  }
  table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
}

p::first-letter {
  padding-left: 1em;
}
