<!DOCTYPE html>
<html>
{% include head.html %}
<body class="container grid-xl">
  <div class="colmuns my-2">
    <div class="column">
      <header class="navbar">
        <section class="navbar-section">
          <a href="{{ '/' | relative_url }}" class="navbar-brand mr-10">{{ site.title }}</a>
          {% for page in site.data.pages %}
          {% if page.submenu %}
          <div class="dropdown">
            <div class="btn-group">
          {% endif %}
              <a href="{{ page.url }}" class="btn btn-link">{{ page.title }}</a>
          {% if page.submenu %}
              <a class="btn btn-link dropdown-toggle" tabindex="0"><i class="icon icon-caret"></i></a>
              <ul class="menu">
                {% for menu in page.submenu %}
                <li class="menu-item">
                  <a href="{{ menu.url }}">
                    {{ menu.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </section>
        <section class="navbar-section">
          <form class="input-group input-inline" method="get" action="{{ site.search_engine }}">
            <input class="form-input" type="text" placeholder="Search" name="as_q">
            <input type="hidden" name="as_sitesearch" value="{{ site.url | shorthand_url }}" >
            <button type="submit" class="btn btn-primary input-group-btn">Search</button>
          </form>
        </section>
      </header>
    </div>
  </div>
  {{ content | replace: '<table>', '<table class="table table-striped my-2">' | replace: '<pre class="highlight">', '<pre class="highlight code">' }}
  <div class="columns">
    <div class="column">
      <footer class="text-center">
        Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }} {{ site.title }} - Powered by <a href="https://github.com/picturepan2/spectre">Spectre.css</a>
      </footer>
    </div>
  </div>
  {% if site.google_analytics_tracking_id %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  <script>
  var loadcss = function(file) {
    var load = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame || function(c) {window.addEventListener('load', c)};
    load(function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = file;
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    })
  };
  {% assign defered_css = site.static_files | where: "defered_css", true %}
  {% for css in defered_css %}
  loadcss("{{ css.path | relative_url }}");
  {% endfor %}
  </script>
</body>
</html>
