---
layout: default
---

<div class="columns mt-10">
  <main class="column col-9 col-md-12" lang="{{ site.lang }}">
    <header>
      {% assign categories_page = site.html_pages | where: "id", "categories" | first %}
      {% assign tags_page = site.html_pages | where: "id", "tags" | first %}
      <h1>{{ page.title }}</h1>
      {% if page.image %}
      <img src="{{ page.image }}" class="img-responsive rounded" alt="{{ page.title }}" />
      {% endif %}
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          {{ page.date | date_to_string }}
        </li>
        {% for category in page.categories %}
        <li class="breadcrumb-item">
          <a href="{{ categories_page.url | relative_url }}">
            {{ category }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <span class="tags">
        {% for tag in page.tags %}
        <a class="label" href="{{ tags_page.url | relative_url }}" hidefocus="true">{{ tag }}</a>
        {% endfor %}
      </span>
    </header>
    <div class="divider"></div>
    <article class="pt-10">
      {{ content }}
    </article>

    {% if site.twitter_share_button %}
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {% endif %}
    {% if site.hatena_bookmark_button %}
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    {% endif %}
    {% if site.google_plus_button %}
    <div class="g-plusone" data-size="medium"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endif %}
    {% if site.facebook_like_button %}
    <div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
    {% if site.pocket_save_button %}
    <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    {% endif %}

    <div class="divider"></div>
    <ul class="pagination">
      {% if page.previous %}
      <li class="page-item page-prev">
        <a href="{{ page.previous.url | relative_url }}">
          <p class="page-item-subtitle">Previous</p>
          <h3 class="page-item-title">{{ page.previous.title }}</h3>
        </a>
      </li>
      {% endif %}
      {% if page.next %}
      <li class="page-item page-next">
        <a href="{{ page.next.url | relative_url}}">
          <p class="page-item-subtitle">Next</p>
          <h3 class="page-item-title">{{ page.next.title }}</h3>
        </a>
      </li>
      {% endif %}
    </ul>
    {% if site.disqus_short_name %}
    <div id="disqus_thread"></div>
    <script>
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');

      s.src = 'https://{{ site.disqus_short_name }}.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
  </main>
  <div class="divider-vert hide-md padding-0"></div>
  <div class="column col-3 col-md-12">
    {% include sidebar.html %}
  </div>
</div>
