<div class="calendar mt-2">
  <div class="calendar-nav navbar">
    <button class="btn btn-action btn-link btn-lg" id="prevmon">
      <i class="icon icon-arrow-left"></i>
    </button>
    <div class="navbar-primary" id="yearmonth">
      <div class="loading"></div>
    </div>
    <button class="btn btn-action btn-link btn-lg" id="nextmon">
      <i class="icon icon-arrow-right"></i>
     </button>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">Sun</div>
      <div class="calendar-date">Mon</div>
      <div class="calendar-date">Tue</div>
      <div class="calendar-date">Wed</div>
      <div class="calendar-date">Thu</div>
      <div class="calendar-date">Fri</div>
      <div class="calendar-date">Sat</div>
    </div>
    <div class="calendar-body" id="calendar">
      <div class="loading"></div>
    </div>
  </div>
</div>
