<div class="widget-container boxed boxed-blue">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar-small -->
<ins class="adsbygoogle"
	style="display:inline-block;width:120px;height:240px"
	data-ad-client="ca-pub-5429584698977304"
	data-ad-slot="3454316875"></ins>
<!-- sidebar-small2 -->
<ins class="adsbygoogle"
	style="display:inline-block;width:120px;height:240px"
	data-ad-client="ca-pub-5429584698977304"
	data-ad-slot="6626453278"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
