<div class="widget-container widget_calendar boxed boxed-red">
	<div class="inner">
		<input type="hidden" name="date_departure" class="inputField" id="date_departure">
	</div>
</div>
<script>
	// <![CDATA[
	$(document).ready(function() {
		var posts = {};
		var datelist = [];
		$.getJSON('/blog/posts.json', function(data){
			var dp = data.posts;
			for(var i = 0, limit = dp.length; i < limit; i++){
				var date = new Date(dp[i].date);
				posts[dp[i].date] = {title:dp[i].title,
					url: '/blog/' + date.getFullYear() + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + ('0' + date.getDate()).slice(-2) + '/' + dp[i].url + '/'}
				datelist.push(dp[i].date);
			}
			assignCalendar('#date_departure');
			refreshDate();
		});


		function assignCalendar(id){
			$('<div class="calendar" />')
				.insertAfter( $(id) )
				.datepicker({
					beforeShowDay: function(date){
						var string = $.datepicker.formatDate('dd M yy', date);
						return [ datelist.indexOf(string) != -1 ]
					},
					dateFormat: 'dd M yy',
					minDate: new Date(datelist[datelist.length - 1]),
					maxDate: new Date(),
					maxPicks: 1,
					altField: id,
					firstDay: 0,
					showOtherMonths: true,
					onSelect: function(date){
						window.location.href = posts[date].url;
					},
					onChangeMonthYear: refreshDate
				}).prev().hide();
		}

		var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
		function refreshDate(){
			setTimeout(function(){
				$('a.ui-state-default').each(function(num){
					var yy = $(this).parent().attr('data-year');
					var M = month[$(this).parent().attr('data-month')];
					var dd = ('0' + $(this).text()).slice(-2);
					var idx = dd + ' ' + M + ' ' + yy;
					$(this).attr('data-title', posts[idx].title);
					$(this).attr('href', posts[idx].url);
				});
			},10);
		}
	});
	// ]]>
</script>
